* {
  font-family: 'Roboto', sans-serif;
}

.container-1{
  display: flex;
  justify-content: space-between;
}

.nav{
  display: flex;
  justify-content: flex-start;
}

.options{
  display: flex;
  justify-content: flex-end;
}

.container-2{
  display: flex;
}

.container-3{

}
