* {
  font-family: 'Baloo Tamma 2', cursive;
}

a {
  color: red;
  text-decoration: none;
}

.container-1{
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.logo{
  position: relative; top: 10px;
}

.nav-1{
  position: relative; top:;
  text-align: left;
  width: 50%;
}

.nav-2{
  text-align: right;
  width: 50%;
}

.container-2{
  display: flex;
  justify-content: space-around;
  background-image: linear-gradient(90deg, #cc3674, #ec5d36);
  width: 100%;
}

.box-1{
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  padding: 75px;
  width: 500px;
}

.back-to-all-shoes{
  color: white;
  font-size: 15px;
  position: relative; top: -40px;
}

.big-shoe{
  /* position: relative; top: -20px; */
}

.box-2{
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 75px;
  width: 50%;
}

.quick-sneakers{
  font-size: 45px;
  color: white;
}

.spring-summer{
  color: #973430;
  font-size: 15px;
  position: relative; top: -60px;
}

.qs-summary{
  color: white;
  position: relative; top: -30px
}

.read-the-reviews{
  color: #973430;
  text-decoration-line: underline;
}

.price{
  color: white;
  font-size: 25px;
}

.buy-now{
  background-color: white;
  border-radius: 8px;
  color: #973430;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 12px;
}

.container-3{
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.container-4{
  display: flex;
  padding-top: 50px;
  padding-bottom: 30px;
  justify-content: space-around;
  background-image: linear-gradient(90deg, #cc3674, #ec5d36);
  width: 100%;
}

.box-3{
  margin-left: 200px;
  width: 250px;
}

.shoe1{
  width:250px;
}

.box-4{
  width: 250px;
}

.shoe2{
  width:250px;
}

.box-5{
  margin-right: 200px;
  width: 250px;
}

.shoe3{
  width:250px;
}

.sneakers{
  font-size: 22px;
  color: white;
}

.spring-summer2{
  color: #973430;
  font-size: 15px;
  position: relative; top:-20px;
}

.container-5{
  display: flex;
  justify-content: space-between;
  width: 100%;
}
